lsi: false
safe: true
source: bolotova.github.io
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

title: "Ксения Болотова"
description: "Помогу создать эффективную команду аналитиков. Фанат метрик и AI инструментов."


