<section class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <!-- Title and Subtitle -->
      <h1 class="hero-title">
        {{ site.data.hero.title }} <span class="hero-subtitle">{{ site.data.hero.subtitle }}</span>
      </h1>

      <!-- Description -->
      <p class="hero-description">{{ site.data.hero.description }}</p>

      <!-- Contact Links -->
      <div class="contact-buttons">
        <ul>
          <li><a href="mailto:{{ site.data.contacts.email }}">Email</a></li>
          <li><a href="{{ site.data.contacts.telegram }}" target="_blank" rel="noopener noreferrer">Telegram</a></li>
          <li><a href="{{ site.data.contacts.github }}" target="_blank" rel="noopener noreferrer">GitHub</a></li>
          <li><a href="{{ site.data.contacts.resume | relative_url }}" target="_blank">Резюме (PDF)</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
